# Created by http://www.gitignore.io

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### Concrete5 ###
concrete/
config/
files/
languages/
LICENSE.TXT
index.php
robots.txt

### Foundation ###
themes/tagworks_theme/bower_components/*
themes/tagworks_theme/node_modules/*
